<a href="https://colab.research.google.com/github/ndcastillo/inferential-statistics-DS-AI/blob/main/Tipos_de_prueba_de_Hip%C3%B3tesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importamos las librerías necesarios para el análisis

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
from scipy.stats import f_oneway
from scipy.stats import ttest_ind

# Importamos la base de datos Iris

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
names = ['sepal-length','sepal-width','petal-length','petal-width','class']
iris = pd.read_csv(url,names=names)
iris.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Tipos de pruebas

## a) Distribución t-student
Implica una formula de la forma:

$$SE=\sigma/\sqrt{N}$$

In [ ]:
se_length = iris.std()['sepal-length']/np.sqrt(10)
se_width = iris.std()['sepal-width']/np.sqrt(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

$$
SED = \sqrt{\sigma_1 ^2 /N_1 + \sigma_2 ^2 /N_2}
$$

In [ ]:
sed = np.sqrt((se_length**2+se_width**2))

$$
t= \frac{(\bar{x_2}-\bar{x_1})}{SED}
$$

$$
t= \frac{(x_2-x_1)}{\sqrt{\frac{S_1^2}{n_1}+\frac{S_2^2}{n_2}}}
$$

In [ ]:
t_stat = (iris.mean()['sepal-length']-iris.mean()['sepal-width'])/sed
t_stat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

9.436693738890318

Comparamos con el t

In [ ]:
p = ttest_ind(iris['sepal-length'],iris['sepal-width'])
p

Ttest_indResult(statistic=36.548157693982006, pvalue=3.987838114848222e-112)

### b) Correlación de Pearson | Coeficiente de Pearson

In [ ]:
iris['sepal-length'].corr(iris['sepal-width'])

-0.10936924995064937

In [ ]:
st.pearsonr(iris['sepal-length'],iris['sepal-width'])

(-0.10936924995064937, 0.1827652152713699)

### c) Análisis de la varianza (ANOVA)

In [ ]:
f_oneway(iris['sepal-length'],iris['sepal-width'])

F_onewayResult(statistic=1335.7678308241748, pvalue=3.9878381148486907e-112)

# Relación entre la longitud del sepalo y la longitud del petalo.

H0: Las distribuciones son similares

H1: Las distribuciones no se encuentran relacionadas y no son similares.

### a) t de student

In [ ]:
se_length = iris.std()['sepal-length']/np.sqrt(10)
pe_length = iris.std()['petal-length']/np.sqrt(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
sed = np.sqrt((se_length**2+pe_length**2))

In [ ]:
t_stat = (iris.mean()['sepal-length']-iris.mean()['petal-length'])/sed
t_stat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

3.3822775167204457

In [ ]:
p = ttest_ind(iris['sepal-length'],iris['petal-length'])
p

Ttest_indResult(statistic=13.099504494510061, pvalue=2.8297338637366177e-31)

### b) Coeficiente de Pearson

In [ ]:
iris['sepal-length'].corr(iris['petal-length'])

0.8717541573048718

In [ ]:
st.pearsonr(iris['sepal-length'],iris['petal-length'])

(0.8717541573048713, 1.0384540627941062e-47)

Relación directa fuerte.

### c) Análisis ANOVA

In [ ]:
f_oneway(iris['sepal-length'],iris['petal-length'])

F_onewayResult(statistic=171.59701800168915, pvalue=2.829733863736772e-31)